extends layout

block content
  h1 #{marker.title}

  a(href="../search.html") Return to search page

  p #{marker.markerText}
  p Location:  #{marker.location}
  p 
    a(href='../county/'+marker.county) #{marker.county}

  if marker.stdPics
    each picURL in marker.stdPics
      p
        img(width=400 src=`${picURL}` class="center")

  if marker.cPics
    each picURL in marker.cPics
      p
        img(width=400 src=`${picURL}` class="center")


  if marker.essay
    h2 Essay
    p !{marker.essay}