extends layout

block content

  if !(isNaN(marker.lat) || isNaN(marker.long)) 
    script(type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async=true defer=true)

  h1 #{marker.title}

  p #{marker.markerText}
  p Location:  #{marker.location}
  p 
    a(href='../county/'+marker.county) #{marker.county}

  if !(isNaN(marker.lat) || isNaN(marker.long)) 
    div(id='myMap' class = "center" style='position:relative;width:600px;height:400px;')
    script(type='text/javascript').
      function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: '#{keys.bingMapsKey}',
            center: new Microsoft.Maps.Location(#{marker.lat}, #{marker.long})
        });

        var center = map.getCenter();

        //Create custom Pushpin
        var pin = new Microsoft.Maps.Pushpin(center, {
            title: '#{marker.markerID}',
            subTitle: "#{marker.title}",
            text: '1'
        });

        //Add the pushpin to the map
        map.entities.push(pin);
      }

  div(class="row")
    if marker.stdPics
      each picURL in marker.stdPics
        p(class="imageRow")
          img(width=400 height=400 src=`${picURL}` class="column")

    if marker.cPics
      each picURL in marker.cPics
        p(class="imageRow")
          img(width=400 height=400 src=`${picURL}` class="column")


  if marker.essay
    h2(class="essay") Essay
    p(class="essay") !{marker.essay}